%h1 Translation Keys

- @translations.each do |translation|
  .translations
    .absolute_path
      %span.scope
        =translation.translation_key.scope + '.'
      %span.tkey
        =translation.translation_key.tkey
    .translation
      .master_definition
        = translation.master_translation.value
      .definition
        .value= translation.value
     


= link_to 'New Translation key', new_translation_key_path
